## 과제: udf 등록 및 SQL 처리
- 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살~59살: 'adult'
- age가 60살 이상: 'senior'

### 데이터프레임
- 변수: name, age (예: '안현', 39)
- SQL 출력 결과: name, age_category(age)
- 제출 기한: 5.24(수)

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('udf-assignment').getOrCreate()

In [3]:
names = [
    ('Choi', 23), ('Park', 21), ('Kim', 35), ('Koo', 59), ('Yoon', 85),
    ('Jin', 45), ('Hwang', 68), ('Jung', 26), ('Lee', 75), ('Han', 35)
]

In [63]:
schema = ['name', 'age']

In [64]:
df = spark.createDataFrame(names, schema)

In [65]:
df.show()

+-----+---+
| name|age|
+-----+---+
| Choi| 23|
| Park| 21|
|  Kim| 35|
|  Koo| 59|
| Yoon| 85|
|  Jin| 45|
|Hwang| 68|
| Jung| 26|
|  Lee| 75|
|  Han| 35|
+-----+---+

In [ ]:
df.printSchema()

In [67]:
df.createOrReplaceTempView('names')

In [68]:
# UDF 등록
spark.udf.register('age_category', age_category)

def age_category(age):
    if(age < 35):
        return "young"
    if(age >= 35 and age < 60):
        return "adult"
    if(age >= 60):
        return "senior"

In [69]:
spark.sql("SELECT name, age, age_category(age) FROM names").show()

+-----+---+-----------------+
| name|age|age_category(age)|
+-----+---+-----------------+
| Choi| 23|            young|
| Park| 21|            young|
|  Kim| 35|            adult|
|  Koo| 59|            adult|
| Yoon| 85|           senior|
|  Jin| 45|            adult|
|Hwang| 68|           senior|
| Jung| 26|            young|
|  Lee| 75|           senior|
|  Han| 35|            adult|
+-----+---+-----------------+