In [9]:
# pandas 임포트
import pandas as pd

path = './data/'
filename = 'fhvhv_tripdata_2020-03_short.csv'

# TLC 데이터 로딩(csv 파일 -> DataFrame 객체)
df = pd.read_csv(path + filename)

## DataFrame 기본 메서드 및 속성
+ DataFrame.head()
+ DataFrame.info()
+ DataFrame.shape
+ Series 객체 접근: DataFrame['var_name'] 또는 DataFrame.var_name
+ Series.unique()

## RDD 생성하기

### pyspark 시작하기
1. pyspark 임포트
2. SparkConf 객체 생성
3. SparkConf 객체를 이용하여 SparkContext 객체 생성

### RDD 생성 방법
+ SparkContext.textFile(): 텍스트 파일(예: csv)을 읽어서 RDD 객체를 생성
+ SparkContext.parallelize(): 파이썬 객체(예: List)로부터 RDD 객체를 생성
+ 하둡 파일 시스템(HDFS) 또는 데이터베이스(예: Hive, Cassandra, MySQL)로부터 읽기

In [1]:
#import findspark
#findspark.init()

#from pyspark import SparkConf, SparkContext

In [10]:
df.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0005,B02510,2020-03-01 00:03:40,2020-03-01 00:23:39,81,159,NaN
1,HV0005,B02510,2020-03-01 00:28:05,2020-03-01 00:38:57,168,119,NaN
2,HV0003,B02764,2020-03-01 00:03:07,2020-03-01 00:15:04,137,209,1.0
3,HV0003,B02764,2020-03-01 00:18:42,2020-03-01 00:38:42,209,80,NaN
4,HV0003,B02764,2020-03-01 00:44:24,2020-03-01 00:58:44,256,226,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4860996 entries, 0 to 4860995
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   pickup_datetime       object
 3   dropoff_datetime      object
 4   PULocationID          int64
 5   DOLocationID          int64
 6   SR_Flag               float64
dtypes: float64(1), int64(2), object(4)
memory usage: 259.6+ MB

In [13]:
df.shape

(4860996, 7)

In [22]:
df.hvfhs_license_num

0          HV0005
1          HV0005
2          HV0003
3          HV0003
4          HV0003
            ...
4860991    HV0004
4860992    HV0004
4860993    HV0004
4860994    HV0004
4860995    HV0004
Name: hvfhs_license_num, Length: 4860996, dtype: object

In [19]:
df['hvfhs_license_num'].unique()

array(['HV0005', 'HV0003', 'HV0004'], dtype=object)

In [20]:
df['hvfhs_license_num'].nunique()

3

In [21]:
df.describe()

       PULocationID  DOLocationID   SR_Flag
count  4.860996e+06  4.860996e+06  601798.0
mean   1.388409e+02  1.413942e+02       1.0
std    7.519836e+01  7.759148e+01       0.0
min    1.000000e+00  1.000000e+00       1.0
25%    7.500000e+01  7.500000e+01       1.0
50%    1.400000e+02  1.410000e+02       1.0
75%    2.110000e+02  2.160000e+02       1.0
max    2.650000e+02  2.650000e+02       1.0

In [23]:
from pyspark import SparkConf, SparkContext

In [24]:
conf = SparkConf().setMaster("local").setAppName("dataframe-and-rdd")

In [25]:
sc = SparkContext(conf = conf)

In [27]:
lines = sc.textFile(path + filename)

In [28]:
rdd = sc.parallelize([1, 2, 3, 4])